.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #222;
  border: 1px solid #444;
  padding: 15px;
  width: 220px;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.product-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  color: #00ffff; /* hoặc màu bạn thích */
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
